# Ignore all non-original files that don't exist in the origin
spigot/*
paper/*
cuberite/*

# Exclude automation scripts
!spigot/*.bat
!paper/*.bat
!cuberite/*.bat
!spigot/*.sh
!paper/*.sh
!cuberite/*.sh
