# Ignore all non-original files that don't exist in the origin
spigot/*
paperMC/*
cuberite/*

# Exclude automation scripts
!spigot/*.bat
!paperMC/*.bat
!cuberite/*.bat
!spigot/*.sh
!paperMC/*.sh
!cuberite/*.sh
